<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>플레이리스트</title>
</head>

<body>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <div class="flex flex-grow justify-between mb-4">
            <h1 class="flex text-2xl">
                <i class="fa-solid fa-music"></i>
                <span th:utext="${@rq.member.getNickName() + '의 플레이리스트'}"></span>
            </h1>
            <div class="flex">
                <a class="btn btn-primary" href="/playlist/playlistForm" th:if="${@rq.login}">
                    <i class="fa-solid fa-music"></i>&nbsp;플레이리스트 생성하기
                </a>
            </div>
        </div>

        <th:block th:each="playlist : ${playlists}">
            <div class="card flex-grow bg-base-100 my-2 shadow-2xl">
                <div class="card-body">
                    <div class="flex justify-between">
                        <div>
                            <div class="badge badge-primary mx-1 my-2">
                                <a th:href="@{|/playlist/detail/${playlist.id}|}"
                                   th:text="${playlist.name}"></a>
                            </div>
                        </div>
                        <div>
                            <form class="badge badge-secondary mx-1 my-2" method="POST"
                                  th:action="@{|/playlist/${playlist.id}|}">
                                <input name="_method" type="hidden" value="DELETE">
                                <button type="submit">삭제</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</main>
</body>

</html>