<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>플레이리스트 생성 페이지</title>
</head>

<body>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-music"></i>
            플레이리스트
        </h1>

        <form th:action method="POST">
            <span class="label-text"> 이름: </span>
            <input type="text" name="playlistName" placeholder="플레이리스트 이름" class="input input-bordered" autofocus/>
            <button type="submit">생성</button>
        </form>

     </div>
</main>
</body>

</html>