<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>플레이리스트 생성 페이지</title>
</head>

<body>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-music"></i>
            플레이리스트
        </h1>
        <div class="card flex-grow bg-base-100 shadow-2xl">
            <form method="POST" th:action>
                <div class="card-body flex flex-row">
                    <span class="label-text"> 플레이리스트 이름 </span>
                    <input autofocus class="input input-bordered" name="playlistName" placeholder="플레이리스트 이름"
                           type="text"/>
                    <button class="badge badge-primary mx-1 my-2" type="submit">생성</button>
                </div>
            </form>
        </div>
    </div>
</main>
</body>

</html>