<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>가사 상세 페이지</title>
</head>

<body>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-4xl w-full px-4">
        <form class="flex flex-col gap-6" method="GET">
            <div id="lyrics" class="flex items-center justify-center">
                <div id="lyric_ko" class="w-1/2 mr-3">
                    <div class="mx-auto overflow-y-auto h-[400px] text-[13px]
                        border-solid border-2 rounded-md border-purple-400"
                         style="white-space:pre;word-wrap: break-word;"
                         th:text="${lyric_ko==null ? ' ': lyric_ko.content}"></div>

                    <div class="w-1/2">
                        <div>
                            <a id="btn_ko" th:href="@{|/track/${trackId}/modifyLyric?lang=${'Kor'}|}"
                               class="btn btn-block btn-outline gap-1 mt-10">
                                <i class="fa-solid fa-address-card text-[color:#E1306C]"></i>
                                <span>한글 가사 수정</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="lyric_en" class="w-1/2 ml-3">
                    <div id="lyric_en_depth"
                         class="mx-auto overflow-y-auto h-[400px] text-[13px]
                         border-solid border-2 rounded-md border-purple-400"
                         style="white-space:pre; word-wrap: break-word;"
                         th:text="${lyric_en==null ? ' ': lyric_en.content}"></div>

                    <div class="w-1/2">
                        <div>
                            <a id="btn-en-m" th:href="@{|/track/${trackId}/modifyLyric?lang=${'Eng'}|}"
                               class="btn btn-block btn-outline gap-1 mt-10">
                                <i class="fa-solid fa-address-card text-[color:#E1306C]"></i>
                                <span>영어 가사 수정</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>