<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>가사 수정 데모 페이지</title>
</head>

<body>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <script>
        function ModifyLyric__submit(form) {
            form.modifyContent.value == form.modifyContent.value.trim();

            if(form.modifyContent.value==""){
                toastWarning('댓글을 입력해주세요.');
                form.iComment.focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>

    <div class="max-w-2xl w-full px-4">
        <form class="flex flex-col gap-6"
              method="POST"
              th:action="@{|/track/${trackId}/modifyLyric|}"
              onsubmit="ModifyLyric__submit(this); return false;">
            <div id="lyrics" class= "flex items-center justify-center">
                <textarea name="modifyContent" class="w-80 h-[500px]" th:placeholder="${'임시 가사'}"></textarea>
            </div>
            <input type="hidden" name="_method" value="PATCH">
            <div class="relative">
                <div class="absolute inset-y-0 right-0 w-20">
                    <button class="btn btn-primary btn-sm mt-2 w-[70px] mb-5" type="submit">
                        저장
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>
</body>

</html>