<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>가사 수정</title>
</head>

<body>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <script>
        function ModifyLyric__submit(form) {
            form.content.value = form.content.value.trim();

            if (form.content.value.length === 0) {
                toastWarning('가사를 입력해주세요.');
                form.iComment.focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>

    <div class="max-w-2xl w-full px-4">
        <form class="flex flex-col gap-6"
              method="POST"
              th:action="@{|/track/${trackId}/modifyLyric/${lyric.language}|}"
              onsubmit="ModifyLyric__submit(this); return false;">
            <input type="hidden" name="_method" value="PATCH">
            <div class="flex items-center justify-center" id="lyrics">
                <textarea name="content" type="text"
                          class="textarea textarea-accent w-[700px] h-[500px] "
                          th:text="${lyric.content}"
                          style="resize: none;"></textarea>
            </div>
            <div class="relative">
                <div class="absolute inset-y-0 right-0 w-20">
                    <input class="btn btn-primary btn-sm mt-2 w-[70px] mb-5" type="submit" value="저장"/>
                </div>
            </div>
        </form>
    </div>
</main>
</body>

</html>