<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="">

<head>
    <title>투표 태그 기반</title>
</head>
<body>
<main class="flex flex-grow items-center justify-center" layout:fragment="main">
    <div class="flex flex-col max-w-2xl w-full px-4 justify-center">
        <div>
            <h1 class="font-bold text-3xl">추천한 태그를 기반으로 추천해드립니다!</h1>
        </div>
        <div>
            <div class="flex flex-col gap-4 mt-4" th:if="${#lists.isEmpty(tracks)}">태그에 투표해 주세요</div>
            <ul class="flex flex-col gap-4 mt-4" th:if="${!#lists.isEmpty(tracks)}">
                <li class="flex" th:each="track, i: ${tracks}">
                    <h1 class="font-bold text-xl mr-3 w-6" th:text="${i.count}"></h1>
                    <div>
                        <div>
                            <form class="badge mx-1 my-2" method="POST"
                                  style="background:#6EC6CA;color:#000000" th:action="@{|/track/search|}">
                                <input name="name" th:value="${track.title}" type="hidden">
                                <input name="artist" th:value="${track.artistName}" type="hidden">
                                <button class="link-button" name="submit" type="submit" value="value">
                                    <span th:text="${track.title}"></span>
                                </button>
                            </form>
                            <div class="badge mx-1 my-2" style="background:#6EC6CA;color:#000000">
                                <span th:text="${track.artistName}"></span>
                            </div>
                            <div class="badge mx-1 my-2"
                                 style="background:#6EC6CA;color:#000000" th:if="${track.albumName != '__nodata'}">
                                <span th:text="${track.albumName}"></span>
                            </div>
                        </div>
                        <div>
                            <ul class="flex" th:if="${!#lists.isEmpty(track.tags)}">
                                <li th:each="tag: ${track.tags}">
                                    <div class="badge badge-primary mx-1 my-2">
                                        <span th:text="${tag}"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>
</body>
</html>