<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>홈</title>
</head>

<body>

<main class="flex-grow flex items-center justify-center" layout:fragment="main">
    <div class="text-center">
        <img alt="asda"
             src="https://velog.velcdn.com/images/khp963/post/11bdd8c1-c0d3-4b8c-baf0-80f1735d347f/image.png" width="400px">
        <div class="my-3 text-[20px]">마음에 드는 노래를 검색해보세요.</div>
        <div class="my-3 text-[18px]">그에 따라 노래를 추천해드립니다.</div>
    </div>
</main>

</body>

</html>