<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="">

<head>
    <title>태그 게시판</title>
</head>

<body>
<main class="flex flex-grow items-center justify-center" layout:fragment="main">
    <div class="flex flex-col max-w-2xl w-full justify-center">
        <div class="flex max-w-2xl w-full my-4">
            <div class="flex justify-between flex-grow">
                <div class="px-4 flex flex-grow">
                    <div class="form-control flex flex-grow">
                        <div><i class="fa-solid fa-magnifying-glass"></i>
                            원하는 태그를 검색해보세요
                        </div>
                        <div class="mt-4 flex">
                            <label class="flex flex-col flex-grow">
                                <input autofocus class="input input-bordered flex flex-grow" name="tagBoardName"
                                       onchange="$(this).keyup();"
                                       onkeydown="handleEnterKey(event);"
                                       onpaste="setTimeoutZero(() => $(this).keyup());"
                                       placeholder="원하는 태그를 입력하세요"
                                       onkeyup="$(this).next().children(':first-child').text('검색');" th:value="${kw}"
                                       type="text">
                                <a class="btn btn-primary btn-sm mx-1 my-2 block mt-3 text-sm break-all text-blue-400"
                                   href="#"
                                   onclick="event.preventDefault(); location.href = 'tagBoard?kw=' + $(this).prev().val().trim().replace(/ /g, '');">
                                    <span></span>
                                </a>
                                <script>
                                    $(`input[name="tagBoardName"]:last`).keyup();

                                    function handleEnterKey(event) {
                                        if (event.keyCode === 13) { // 13은 엔터키의 keyCode입니다.
                                            event.preventDefault();
                                            location.href = 'tagBoard?kw=' + event.target.value.trim().replace(/ /g, '');
                                        }
                                    }
                                </script>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="dropdown flex flex-col px-4">
                    <div class="flex justify-end">
                        <label class="btn btn-ghost btn-circle" tabindex="0">
                            <div class="flex"><i class="fa-solid fa-arrow-down"></i>
                                &nbsp;&nbsp;인기태그
                            </div>
                        </label>
                        <ul class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-40"
                            tabindex="0">
                            <li th:each="tagBoard: ${top3TagBoardList}"><a
                                    th:href="|/usr/category/tag?id=${tagBoard.getId()}|">
                                <span th:text="${tagBoardStat.count} + ."></span>
                                <span th:text="${tagBoard.getTagBoardName()}"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="max-w-2xl w-full mt-4 px-4">
            <div>
                <h1 class="mb-4">
                    <i class="fa-solid fa-list"></i>
                    전체 태그목록
                </h1>
            </div>
            <div class="flex flex-wrap max-w-2xl w-full" th:if="${!tagBoardList.isEmpty()}">
                <div th:each="tagBoard: ${tagBoardList}">
                    <a class="badge badge-primary mx-1 my-2" th:href="|/usr/category/tag?id=${tagBoard.getId()}|">
                        <span th:text="${tagBoard.getTagBoardName()}"></span>
                    </a>
                </div>
            </div>
            <div class="flex flex-wrap max-w-2xl w-full" th:if="${tagBoardList.isEmpty()}">
                해당하는 태그가 없습니다.
            </div>
        </div>
    </div>
</main>
</body>
</html>