<html layout:decorate="~{lyric/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>가사 수정 데모 페이지</title>
</head>

<body>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <script>
        function ModifyLyric__submit(form) {

            form.submit(); // 폼 발송
        }
    </script>

    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-address-card"></i>
            나훈아 - 테스형
        </h1>

        <form class="flex flex-col gap-6" method="POST" th:action onsubmit="PersonalForm__submit(this); return false;">
            <div id="lyrics" class= "flex items-center justify-center">
                <textarea class="w-80 h-64">
흔하디 흔한 이별 노래에
가사나 적어볼까 하다가
널 다시 기억에서 꺼내
수없이 많을 것만 같았던
말은 하나도 나오질 않네
이 밤이 더 깊어질 때까지
그 어떤 말로도 채워지지 못할
하얗기만 한 여긴
너로 가득해
It's you
                </textarea>
            </div>
        </form>

        <div class="relative">
            <div class="absolute inset-y-0 right-0 w-20">
                <button class="btn btn-block btn-outline gap-1">
                    저장
                </button>
            </div>
        </div>
    </div>
</main>
</body>

</html>