<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="">

<head>
    <title th:text="${trackDetail.title}"></title>
</head>
<body>
<main class="flex flex-grow items-center justify-center" layout:fragment="main">
    <div class="flex flex-col max-w-2xl w-full px-4 justify-center">
        <img src="https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png">
        <div>
            <h1 class="font-bold text-4xl" th:text="${trackDetail.title}"></h1>
            <h1 class="font-bold text-2xl" th:text="${trackDetail.artistName}"></h1>
            <h1 class="font-bold text-2xl" th:text="${trackDetail.albumName}"></h1>
        </div>
        <div>
            <h1 class="font-bold text-xl">태그</h1>
            <ul th:if="${!#lists.isEmpty(trackDetail.tags)}" class="flex flex-col gap-4 mt-4">
                <li th:each="tag: ${trackDetail.tags}">

                    <a class="badge badge-primary mx-1 my-2"
                       th:href="@{|/category/tag?id=${tag.tagId}|}">
                        <span th:text="${tag.tagName}"></span>
                    </a>
                    <div class="badge badge-secondary mx-1 my-2">

                        <span th:text="${tag.voteCount}"></span>
                    </div>
                    <form th:if="${tag.positive != true}" class="badge badge-primary mx-1 my-2" method="POST"
                          th:action="@{|/trackTag/vote/up/${tag.id}|}">

                        <button class="link-button" name="submit" type="submit" value="value">
                            <i class="fa-regular fa-thumbs-up"></i>&nbsp;추천
                        </button>
                    </form>
                    <form th:if="${tag.positive == true}" class="badge badge-primary mx-1 my-2" method="POST"
                          th:action="@{|/trackTag/vote/cancel/${tag.id}|}">
                        <button class="link-button" name="submit" type="submit" value="value">
                            <i class="fa-solid fa-thumbs-up"></i>&nbsp;추천
                        </button>
                    </form>
                    <form th:if="${tag.positive != false}" class="badge badge-primary mx-1 my-2" method="POST"
                          th:action="@{|/trackTag/vote/down/${tag.id}|}">
                        <button class="link-button" name="submit" type="submit" value="value">
                            <i class="fa-regular fa-thumbs-down"></i>&nbsp;비추천
                        </button>
                    </form>
                    <form th:if="${tag.positive == false}" class="badge badge-primary mx-1 my-2" method="POST"
                          th:action="@{|/trackTag/vote/cancel/${tag.id}|}">
                        <button class="link-button" name="submit" type="submit" value="value">
                            <i class="fa-solid fa-thumbs-down"></i>&nbsp;비추천
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</main>
</body>
</html>