<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="">

<head>
    <title th:text="${trackDetail.title}"></title>
</head>
<body>
<main class="flex flex-grow items-center justify-center" layout:fragment="main">
    <script>
        function SaveComment__submit(form) {
            // iComment 이(가) 올바른지 체크
            form.iComment.value = form.iComment.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.iComment.value === "") {
                toastWarning('댓글을 입력해주세요.');
                form.iComment.focus();
                return;
            }

            form.submit();
        }

        function ModifyComment__submit(form) {
            // iComment 이(가) 올바른지 체크
            form.modifyComment.value = form.modifyComment.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.modifyComment.value === "") {
                toastWarning('댓글을 입력해주세요.');
                form.modifyComment.focus();
                return;
            }

            form.submit();
        }

        function SaveReply__submit(form) {
            form.iReply.value === form.iReply.value.trim();

            if (form.iReply.value === "") {
                toastWarning('덧글을 입력해주세요.');
                form.iReply.focus();
                return;
            }

            form.submit();
        }

        function ModifyReply__submit(form) {
            form.modifyReply.value === form.modifyReply.value.trim();

            if (form.modifyReply.value === "") {
                toastWarning('덧글을 입력해주세요.');
                form.modifyReply.focus();
                return;
            }

            form.submit();
        }

        function saveReply(commentId) {
            const content = document.getElementById("saveReplyT_" + commentId);
            const toggleIcon = document.getElementById("saveCmt_" + commentId);

            if (content.style.display === "none") {
                content.style.display = "block";
                toggleIcon.innerText = "-";
            } else {
                content.style.display = "none";
                toggleIcon.innerText = "+";
            }
        }

        function modifyComment(commentId) {
            const content = document.getElementById("modifyCommentT_" + commentId);

            if (content.style.display === "none") {
                content.style.display = "block";
            } else {
                content.style.display = "none";
            }
        }

        function modifyReply(replyId) {
            const content = document.getElementById("modifyReplyT_" + replyId);

            if (content.style.display === "none") {
                content.style.display = "block";
            } else {
                content.style.display = "none";
            }
        }

        function addTag__submit(form) {

            // iTag 이(가) 올바른지 체크
            form.iTag.value = form.iTag.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거
            console.log(form.iTag.value);
            if (form.iTag.value === "") {
                toastWarning('태그를 입력해주세요.');
                form.iTag.focus();
                return;
            }

            form.submit();
        }
    </script>
    <div class="flex flex-col max-w-2xl w-full px-4 justify-center">
        <div>
            <h1 class="mt-2 text-4xl">곡 정보</h1>
            <div class="divider"></div>
            <ol class="list-group">
                <li class="list-group-item list-group-item-primary text-2xl" th:text="${trackDetail.title}"></li>
                <li class="list-group-item list-group-item-primary text-xl" th:text="${trackDetail.artistName}"></li>
                <li class="list-group-item list-group-item-primary text-xl"
                    th:if="${!trackDetail.albumName.equals('__nodata')}"
                    th:text="${trackDetail.albumName}"></li>
            </ol>
        </div>
        <a class="btn btn-primary btn-sm mt-2 w-[90px] w-14 h-14"
           th:href="@{|/track/${trackId}/lyric|}">가사 보기</a>
        <div class="divider"></div>
        <div>
            <h1 class="font-bold text-xl">태그 목록</h1>
            <div th:if="${@rq.isLogin()}">
                <div class="divider"></div>
                <h1 class="font-bold text-xl">태그 추가</h1>
                <form class="flex flex-grow mb-4" method="POST" onsubmit="addTag__submit(this); return false;"
                      th:action="@{|/track/${trackId}/tag|}">
                    <input class="input input-bordered flex flex-grow my-1" name="iTag"
                           placeholder="원하는 태그를 추가하세요" type="text">
                    <input class="btn btn-primary btn-sm mt-2 mb-5"
                           style="float:left;" type="submit" value="태그 등록">
                </form>
            </div>
            <div class="divider"></div>
            <div class="flex flex-col text-center" th:if="${#lists.isEmpty(trackDetail.tags)}">
                <span>태그가 없습니다.</span>
                <span>이 노래에 어울릴 만한 태그를 추가해보세요.</span>
            </div>
            <ul th:if="${!#lists.isEmpty(trackDetail.tags)}" class="flex flex-col gap-4 mt-4">
                <li th:each="tag: ${trackDetail.tags}">
                    <a class="badge badge-primary mx-1 my-2"
                       th:href="@{|/category/tag?id=${tag.tagId}|}">
                        <span th:text="${tag.tagName}"></span>
                    </a>
                    <div class="badge badge-secondary mx-1 my-2">
                        <span th:text="${tag.voteCount}"></span>
                    </div>
                    <form th:if="${tag.positive != true}" class="badge badge-primary mx-1 my-2" method="POST"
                          th:action="@{|/trackTag/vote/up/${tag.id}|}">
                        <button class="link-button" name="submit" type="submit" value="value">
                            <i class="fa-regular fa-thumbs-up"></i>&nbsp;추천
                        </button>
                    </form>
                    <form th:if="${tag.positive == true}" class="badge badge-primary mx-1 my-2" method="POST"
                          th:action="@{|/trackTag/vote/cancel/${tag.id}|}">
                        <button class="link-button" name="submit" type="submit" value="value">
                            <i class="fa-solid fa-thumbs-up"></i>&nbsp;추천
                        </button>
                    </form>
                    <form th:if="${tag.positive != false}" class="badge badge-primary mx-1 my-2" method="POST"
                          th:action="@{|/trackTag/vote/down/${tag.id}|}">
                        <button class="link-button" name="submit" type="submit" value="value">
                            <i class="fa-regular fa-thumbs-down"></i>&nbsp;비추천
                        </button>
                    </form>
                    <form th:if="${tag.positive == false}" class="badge badge-primary mx-1 my-2" method="POST"
                          th:action="@{|/trackTag/vote/cancel/${tag.id}|}">
                        <button class="link-button" name="submit" type="submit" value="value">
                            <i class="fa-solid fa-thumbs-down"></i>&nbsp;비추천
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="divider"></div>
        <!-- Comments section-->
        <section class="mb-5 max-w-2xl w-full">
            <div class="card bg-light">
                <!-- Comment form-->
                <form class="flex flex-col flex-grow mb-4"
                      method="POST" onsubmit="SaveComment__submit(this); return false;"
                      th:action="@{|/track/${trackId}/comment|}">
                        <textarea class="form-control" name="iComment" type="text" placeholder="댓글을 남겨보세요"
                                  rows="3"></textarea>
                    <input class="btn btn-primary btn-sm mt-5 mb-5"
                           style="float:left;" type="submit" value="댓글등록">
                </form>
                <div class="flex items-center card bg-light" th:unless="${!#lists.isEmpty(comments)}">
                    댓글이 없습니다!!
                </div>
                <div class="flex mb-4" th:if="${!#lists.isEmpty(comments)}">
                    <!-- Parent comment-->
                    <ul class="flex flex-col max-w-2xl w-full gap-4" th:if="${!#lists.isEmpty(comments)}">
                        <li class="mb-2" th:each="comment: ${comments}">
                            <div class="divider"></div>
                            <th:block class="flex flex-col ms-5 max-w-2xl w-full">
                                <div class="max-w-2xl w-full">
                                    <div class="flex justify-between">
                                        <div class="flex h-12">
                                            <img alt="..."
                                                 class="rounded-circle"
                                                 src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"/>
                                            <div class="flex justify-center items-center ml-5"
                                                 th:if="${comment.memberNickName != '__nodata'}"
                                                 th:text="${comment.memberNickName}"></div>
                                            <div class="flex justify-center items-center ml-5"
                                                 th:if="${comment.memberNickName == '__nodata'}">
                                                익명
                                            </div>
                                        </div>
                                        <!--                                            댓글 삭제, 수정, 작성, 확인-->
                                        <div class="flex">
                                            <!--                                            댓글수정-->
                                            <div>
                                                <button class="btn btn-primary btn-sm mt-2 mx-1 w-[40px] mb-5"
                                                        onclick="modifyComment(this.getAttribute('commentId'))"
                                                        th:commentId="${comment.commentId}"
                                                        th:id="dBtn_+${comment.commentId}"
                                                        th:if="${@rq.member.id == comment.getMemberId()}">
                                                    <span class="">수정</span>
                                                </button>
                                                <form hidden method="POST"
                                                      th:action=
                                                              "@{|/track/${comment.trackId}/comment/${comment.commentId}|}">
                                                    <input name="_method" type="hidden" value="PATCH">
                                                </form>
                                            </div>
                                            <div>
                                                <button class="btn btn-primary btn-sm mt-2 mx-1 w-[40px] mb-5"
                                                        onclick="$(this).next().submit();"
                                                        th:attr="data-comment-id=${comment.commentId}"
                                                        th:id="dBtn_+${comment.commentId}"
                                                        th:if="${@rq.member.id == comment.getMemberId()}">
                                                    <span class="">삭제</span>
                                                </button>
                                                <form hidden method="POST"
                                                      th:action=
                                                              "@{|/track/${comment.trackId}/comment/${comment.commentId}|}">
                                                    <input name="_method" type="hidden" value="PATCH">
                                                </form>
                                            </div>
                                            <div class="ml-3" th:if="${@rq.isLogin()}">
                                                <button class="btn btn-primary btn-sm mt-2 mb-5"
                                                        onclick="saveReply(this.getAttribute('commentId'))"
                                                        th:commentId="${comment.commentId}"
                                                        th:id="sBtn_+${comment.commentId}">
                                                    <span class="">덧글 작성</span>
                                                    <span class="ml-2"
                                                          th:id="saveCmt_+${comment.commentId}">+</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col w-full">
                                    <div class="flex rounded-lg ring-2 outline
                                        outline-offset-2 outline-2 outline-blue-500 max-w-2xl w-full">
                                        <div class="flex max-w-2xl w-full" th:text="${comment.content}">
                                        </div>
                                    </div>
                                    <div class="mt-3" th:id="replies_+${comment.commentId}"
                                         th:if="${!replies.isEmpty()}">
                                        <!-- 대댓글 출력 -->
                                        <ul>
                                            <li th:each="reply : ${replies}"
                                                th:if="${reply.commentId == comment.commentId}">
                                                <div class="flex flex-col">
                                                    <div class="flex justify-between">
                                                        <div class="flex items-center ms-5">
                                                            <i class="fa-solid fa-reply fa-rotate-180"></i>
                                                            <p class="ml-2"
                                                               th:if="${reply.member.nickName != '__nodata'}"
                                                               th:text="${reply.member.nickName}"></p>
                                                            <p class="ml-2"
                                                               th:if="${reply.member.nickName == '__nodata'}">익명</p>
                                                            <p class="ml-4" th:text="${reply.content}"></p>
                                                        </div>
                                                        <div class="flex">
                                                            <div class="flex items-center">
                                                                <div class="ml-3">
                                                                    <button class="btn btn-primary btn-sm w-[80px] mt-2 mb-5"
                                                                            onclick="$(this).next().submit();"
                                                                            th:id="drBtn_+${reply.id}"
                                                                            th:if="${@rq.member.id == reply.member.id}">
                                                                        <span class="text-[12px]">덧글 삭제</span>
                                                                    </button>
                                                                    <form hidden method="POST"
                                                                          th:action=
                                                                                  "@{|/track/${comment.trackId}/comment/${reply.id}|}">
                                                                        <input name="_method" type="hidden"
                                                                               value="DELETE">
                                                                    </form>
                                                                </div>
                                                                <!--대댓글 수정-->
                                                                <div class="ml-3">
                                                                    <button class="btn btn-primary btn-sm mt-2 w-[80px] mb-5"
                                                                            onclick="modifyReply(this.getAttribute('replyId'))"
                                                                            th:id="mrBtn_+${reply.id}"
                                                                            th:if="${@rq.member.id == reply.member.id}"
                                                                            th:replyId="${reply.id}">
                                                                        <span class="text-[12px]">덧글 수정</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--                                                대댓글 수정 관련-->
                                                    <div class="flex mt-3 w-full hidden"
                                                         th:id="modifyReplyT_+${reply.id}">
                                                        <div>
                                                            <form class="flex flex-grow mb-4"
                                                                  method="POST"
                                                                  onsubmit="ModifyReply__submit(this); return false;"
                                                                  th:action=
                                                                          "@{|/track/${comment.trackId}/${comment.commentId}/${reply.id}/modify|}">
                                                                <input name="_method" type="hidden" value="PATCH">
                                                                <textarea class="form-control grow"
                                                                          name="modifyReply" rows="2"
                                                                          th:placeholder="${reply.content}"
                                                                          type="text"></textarea>
                                                                <input class="btn btn-primary flex-none btn-sm mt-5 mb-5"
                                                                       type="submit" value="덧글수정">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--                                    댓글 관련-->
                                    <div class="flex mt-3 w-full hidden"
                                         th:id="saveReplyT_+${comment.commentId}">
                                        <div>
                                            <form class="flex flex-grow mb-4"
                                                  method="POST"
                                                  onsubmit="SaveReply__submit(this); return false;"
                                                  th:action="@{|/track/${comment.trackId}/comment/${comment.commentId}/reply|}">
                                            <textarea class="form-control grow"
                                                      name="iReply" type="text"
                                                      placeholder="덧글을 남겨보세요"
                                                      rows="2"></textarea>
                                                <input class="btn btn-primary flex-none btn-sm mt-5 ml-2 mb-5"
                                                       type="submit" value="덧글등록">
                                            </form>
                                        </div>
                                    </div>
                                    <!--                                    댓글 수정 관련-->
                                    <div class="flex mt-3 w-full hidden"
                                         th:id="modifyCommentT_+${comment.commentId}">
                                        <div>
                                            <form class="flex flex-grow mb-4"
                                                  method="POST"
                                                  onsubmit="ModifyComment__submit(this); return false;"
                                                  th:action="@{|/track/${comment.trackId}/comment/${comment.commentId}/modify|}">
                                                <input name="_method" type="hidden" value="PATCH">
                                                <textarea class="form-control grow"
                                                          name="modifyComment" rows="2"
                                                          th:placeholder="${comment.content}"
                                                          type="text"></textarea>
                                                <input class="btn btn-primary flex-none btn-sm mt-5 mb-5"
                                                       type="submit" value="댓글수정">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</main>
</body>
</html>